@import "~antd/dist/antd.css";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
main {
  flex: 1 0 auto;
}
.buttonChangeColor {
  position: fixed;
  top: 258px;
  right: -93px;
  border-radius: 0px 0px 50px 50px;
  width: 226px;
  height: 30px;
  transform: rotate(90deg);
  color: black;
  background-color: white;
}
.navApp {
  display: flex;
  justify-content: space-between;
}
